*:root{
	background-color: rgb(038, 036, 044);
	--timer: 30s;
}
html
{
	font-family: 'Merriweather', serif;
}
body{

	overflow: hidden;
	margin: 0;
    background-color: rgb(038, 036, 044);
	color:  #DCDCDC;
	--color:#DCDCDC;
	--text-color: #dadada;
	--start-game: rgb(53, 50, 61);
	--start-game-border: rgb(26, 25, 31);
	--start-game-shadow: rgb(26, 25, 31);
	--lobby-password-background: rgb(53, 50, 61);
	--select-btn: rgb(53, 50, 61);
	--select-btn-border: rgb(26, 25, 31);
	--select-btn-shadow: rgb(26, 25, 31);
	--players-list:rgb(057, 053, 065 );
	--players-top-border: rgb(108, 104, 117);
	--player-border: rgb(108, 104, 117);
	--start_game: #666699;
	--webkit-scrollbar-track: rgb(057, 053, 065);
	--webit-scrollbar-thumb: grey;
	--webkit-scrollbar-thumb-border:  rgb(057, 053, 065);
}
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	width: 10px;
	background: var(--webit-scrollbar-thumb);
	border: 2px solid var(--webkit-scrollbar-thumb-border);
}
::-webkit-scrollbar-track{
	background-color: var(--webkit-scrollbar-track);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
::-webkit-scrollbar-button{
	display: none;
}
::-webkit-scrollbar-thumb:hover{
	opacity: 90%;
}
#password_check{
	z-index: 5;
	position: fixed;
	top: 32%;
	color: green;
	left: 25%;
	text-align: center;
	font-size: 1rem;
	-webkit-box-shadow: 0px 0px 8px -3px rgba(78, 16, 71, 1);
	-moz-box-shadow: 0px 0px 8px -3px rgba(78, 16, 71, 1);
	box-shadow: 0px 0px 10px 0px rgba(78, 16, 71, 1);
	font-weight: 900;
	width: 50vw;
	display: block;
	padding: 10px 15px 5px 15px;
	transition: .1s ease;
	border-radius: 5px;
	background-color: var(--lobby-password-background);
}
#password_input{
	font-size: 1.5rem;
	border-radius: 3px;
	opacity: 75%;
}
#password_submit{
	margin: 20px auto 20px auto;
	width: max-content;
	padding: 5px;
	transition: .1s ease;
	font-size: 2rem;
}
#password_submit:hover, #password_submit:focus{
	cursor: pointer;
	transform: scale(1.1);
}
#password_input:hover, #password_input:focus{
	opacity: 1;
	outline: none;
	border: 2px solid rgb(92, 19, 83);
	-webkit-box-shadow: 0px 0px 8px -3px rgba(78, 16, 71, 1);
	-moz-box-shadow: 0px 0px 8px -3px rgba(78, 16, 71, 1);
	box-shadow: 0px 0px 10px 0px rgba(78, 16, 71, 1);
}
#insert_password_span{
	display: block;
	font-size: 2rem;
	margin: 20px auto 20px auto;
}
#timer_wrap{
	z-index: 5;
	position: absolute;
	right: 2vw;
	top: 1vw;
	text-align: center;
} 
svg {
	position: absolute;
	top: 0;
	right: -0.5vw;
	width: 40px;
	height: 40px;
	transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
	stroke-dasharray: 113px;
	stroke-dashoffset: 0px;
	stroke-linecap: round;
	stroke-width: 2px;
	stroke: green;
	fill: none;
}
svg text{
	stroke: green;
	fill: green;
	transform-origin: center;
	transform:rotate(90deg) rotateY(-180deg);
}
.svg_text_animation{
	animation: countdown_text var(--timer) linear forwards;
}
.svg_circle_animation{
	animation: countdown_circle var(--timer) linear forwards;
}
@keyframes countdown_text{
	from{
		stroke: green;
		fill: green;
	}
	to{
		stroke: red;
		fill: red;
	}
}
@keyframes countdown_circle{
	from{
		stroke: green;
		stroke-dashoffset: 0px;
	}
	to{
		stroke: red;
		stroke-dashoffset: 113px;
	}
}
#lang_before{
	position: fixed;
	left: 10px;
	top: 20px;
}
#lang_after{
	position: fixed;
	right: 10px;
	z-index: 10;
	bottom: 0;
}
input[type = "submit"]
{
	display: none;
}
.lang_change{
	cursor: pointer;	
	display: block;
	float: left;
	margin: 0 0 10px 10px;
}
.lang_change:hover{
	cursor: pointer;
	transform: scale(1.05,1.05);
}
.players_not_started{
    display: flex;
    justify-content: center;
    font-size: 20px;
    flex-wrap: wrap;
    padding-bottom: 25px;
    bottom: 0;
    width: 100%;
}
#bottom{
	border-top: 2px solid var(--players-top-border);
    background-color: var(--players-list);
    position: fixed;
    bottom: 0;
    width: 100%;
}
h2{
    display: block;
    text-align:left;
	padding-left: 10px;
}
.player_before{
    padding: 10px;	
	height: 50px;
	width: max-content;
	margin: 0 15px 0 15px;
	position: relative;

	text-align: center;
}
h1{
    text-align: center;
    padding: 15px;
}
#middle{
    width: 100%;
    position: fixed;
    top: 40%;
    bottom: 40%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}
#start.active
{
	opacity: 100%;
	width: max-content;
	background-color: var(--start-game);
	border-radius: 10px;
	border: 2px solid var(--start-game-border);
	font-size: 75px;
	margin: 0 auto 0 auto;
	font-weight: 900;
	transition: all .15s ease-in-out;
	padding: 15px;
}
#start.inactive
{
	pointer-events: none;
	opacity: 60%;
	width: max-content;
	background-color: var(--start-game);
	border-radius: 10px;
	border: 2px solid var(--start-game-border);
	font-size: 75px;
	margin: 0 auto 0 auto;
	font-weight: 900;
	transition: all .15s ease-in-out;
	padding: 15px;
}
#start:focus, #start:hover
{
	outline: none;
	-webkit-box-shadow: 0px 0px 5px 1px var(--start-game-shadow);
	-moz-box-shadow: 0px 0px 5px 1px var(--start-game-shadow);
	box-shadow: 0px 0px 5px 1px var(--start-game-shadow);
	transform: scale(1.1,1.1);
}
#information{
	opacity: 80%;
	position: absolute;
	top: 300px;
	left: 300px;
	right: 300px;
}
#start:hover{
	cursor: pointer;
	transform: scale(1.05);
}
.owner{
	color: gold;
	font-weight: 900;
}

.icon-adult{
	position: relative;
	top: 2px;
}
.player_menu{
	padding: 3px;
	width: max-content;
	height: max-content;
	margin: 3px auto 0 auto;
}
.kick, .crown_btn{
	border-radius: 5px;
	padding: 3px;
	transition: .1s ease;
	font-size: 15px;
	float: left;
	opacity: 75%;
	color: rgb(151, 16, 16);
	background-color: rgb(17, 17, 17);
}
.crown_btn{
	margin-left: 5px;
}
.crown_btn .icon-crown{
	margin-top: 2px;
	display: block;
}
.icon-crown{
	height: 17px !important;
}
.kick:hover, .kick:focus, .crown_btn:hover, .crown_btn:focus{
	cursor: pointer;
	opacity: 1;
	transform: scale(1.05);
}
#black_card_cont{
	float:left;
	border-bottom: 0.14vw solid var(--player-border);
	border-right: 0.14vw solid var(--player-border);
	padding: 1.042vw;
	height: 15.565vw;
	width: 12.90vw;
	background-color: rgb(057, 053, 065 );
}
#white_cards_cont{
	float: left;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 16.555vw;
	padding: 0.57vw;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 0.14vw solid var(--player-border);
	width: calc(100% - 0.32vw);
	background-color: rgb(057, 053, 065 );
}
.white_card_picked{
	height: 10.16vw;
	min-width: 7.55vw;
	opacity: 85%;
	max-width: 7.55vw;	
	word-wrap: break-word;
	font-size: 0.7vw;
	float: left;
	margin: 0.19vw;
	color: black;
	border-radius: 0.42vw;
	background-color: rgb(243, 242, 242);
	padding: 0.67vw;
}
#black_card{
	width: calc(100% - 1.354vw);
	overflow: hidden;
	font-size: 0.83vw;
	word-wrap: break-word;
	margin: 0 auto 0 auto;
	background-color: black;
	border-radius: 0.417vw;
	padding: 0.677vw;
	height: 14.59vw;
}
.players_started{
	overflow: auto !important;
	width: calc(15.1vw - 0.14vw);
	background-color: var(--players-list);
	border-right: 0.14vw solid var(--players-top-border);
	height: 100%;
}
#my_cards{
	display: flex;
	flex-wrap: wrap;	
	padding: 0 0.9vw 0 0.9vw;
	overflow: auto;
	justify-content: center;
	min-height: 10.9375vw;
	max-height: 13.8vw;
	width: calc(100% - 0.9vw);
}
.white_card{
	margin: 1vw 0.2vw 1vw 0.2vw;
	float: left;
	opacity: 85%;
	display: block;
	background-color: white;
	font-size: 0.73vw;
	word-wrap: break-word;
	color: black;
	padding: 0.2vw;
	overflow: hidden;
	border-radius: 0.42vw;
	height: 11.198vw;
	min-width: 7.448vw;
	max-width: 7.448vw;	
}
.white_card:hover, .white_card:focus{
	outline: none;
	cursor: pointer;
	opacity: 100%;
}
input[type="checkbox"]{
	display: none;
}
.player_after{
	background-color: rgb(69, 64, 78);
	border-bottom: 0.14vw solid var(--player-border);
	display: block;
	min-height: 2.81vw;
	overflow: hidden;
	font-size: 0.9375vw;
	width: calc(100% - 0.23vw);
	padding: 0.23vw 0 0.23vw 0.23vw;
	position: relative;
}
.player_left{
	float: left;
	width: 50%;
	height: 100%;
}
.player_right{
	float: left;
	width: 50%;
	text-align: center;
}
.points{
	margin-top: 5px;
}
#UI{
	display: flex;
	flex-direction: column;
}
#menu{
	display: flex;
	justify-content: center;
	padding-top: 1.04vw;
	padding-bottom: 1.04vw;
}
#btn{
	pointer-events: none;
	background-color: var(--select-btn);
	border: 0.14vw solid var(--select-btn-border);
	width: max-content;
	border-radius: 0.3vw;
	padding: 0.52vw;
	opacity: 50%;
	font-size: 1.5625vw;
	font-weight: 900;
	transition: 0.2s ease;
}
#btn:hover, #btn:focus{
	-webkit-box-shadow: 0px 0px 3px 1px var(--select-btn-shadow);
	-moz-box-shadow: 0px 0px 3px 1px var(--select-btn-shadow);
	box-shadow: 0px 0px 3px 1px var(--select-btn-shadow);
	cursor: pointer;
	transform: scale(1.1);
}
#left{
	width: 15.104vw;
	float: left;
	height: 100vh
}
#right{
	width: 84.106vw;
	float: left;
}
.shown{
	background-color: #164135;
	color: white;
}
#select_info{
	text-align: center;
	opacity: 80%;
	margin-top: 2vw;
	font-size: 3vw;
}
#reroll{
	padding: 0.52vw;
	background-color: rgb(194, 139, 37);
	font-size: 1vw;
	transition: 0.2s ease;
	width: max-content;
	margin: 0.7vw auto 0.7vw auto;
	border-radius: 0.52vw;
}
#reroll:hover, #reroll:focus{
	transform: scale(1.1);
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 8px 0px rgba(200, 150, 30, 1);
	-moz-box-shadow: 1px 1px 8px 0px rgba(200, 150, 30, 1);
	box-shadow: 1px 1px 8px 0px rgba(200, 150, 30, 1);
}
.selected:hover{
	opacity: 100%;
	cursor: pointer;
}
.blink{
	animation: blinking 0.75s infinite steps(2, end);
}
@keyframes blinking{
	0%{
		background-color: rgb(98, 94, 105)
	}
	100%{
		background-color: rgb(69, 64, 78)
	}
}
@media only screen and (max-width: 1450px){
	.player_after{
		min-height: 2.5vw;
		font-size: 0.8vw;
	}
}