html
{
	font-family: 'Merriweather', serif;
}
body{

	overflow: hidden;
	margin: 0;
    background-color: rgb(038, 036, 044);
	color:  #DCDCDC;
	--color:#DCDCDC;
	--link-color: #DCDCDC;
	--text-color: #dadada;
	--login-button-shadow:#339966;
	--theme-toggler-background: #1f1f1f;
	--start-game: rgb(53, 50, 61);
	--start-game-border: rgb(26, 25, 31);
	--start-game-shadow: rgb(26, 25, 31);
	--theme-toggler-border: #262626;
	--theme-toggler-shadow: rgba(0, 0, 0, 1);
	--theme-togglerinside-background: white;
	--theme-togglerinside-background: white;
	--players-list:rgb(057, 053, 065 );
	--players-top-border: rgb(108, 104, 117);
	--theme-togglerinside-border: #999999;
	--register-link-color: #0099ff;
	--start_game: #666699;
	--webkit-scrollbar-track: rgb(057, 053, 065);
	--webit-scrollbar-thumb: grey;
	--webkit-scrollbar-thumb-border:  rgb(057, 053, 065);
	--my-cards-button-border: #660099;
	--rules-border: #3d3d3d;
	--rules-background: rgb(057, 053, 065 );
	--forgot-password-email-input-border: #d5d5d5;
}
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	width: 10px;
	background: var(--webit-scrollbar-thumb);
	border: 2px solid var(--webkit-scrollbar-thumb-border);
}
::-webkit-scrollbar-track{
	background-color: var(--webkit-scrollbar-track);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
::-webkit-scrollbar-button{
	display: none;
}
::-webkit-scrollbar-thumb:hover{
	opacity: 90%;
}
#lang_before{
	position: fixed;
	left: 10px;
	top: 20px;
}
#lang_after{
	position: fixed;
	right: 10px;
	z-index: 10;
	bottom: 0;
}
input[type = "submit"]
{
	display: none;
}
.lang_change{
	cursor: pointer;	
	display: block;
	float: left;
	margin: 0 0 10px 10px;
}
.lang_change:hover{
	cursor: pointer;
	transform: scale(1.05,1.05);
}
.players_not_started{
    display: flex;
    justify-content: center;
    font-size: 20px;
    flex-wrap: wrap;
    padding-bottom: 25px;
    bottom: 0;
    width: 100%;
}
#bottom{
	border-top: 2px solid var(--players-top-border);
    background-color: var(--players-list);
    position: fixed;
    bottom: 0;
    width: 100%;
}
h2{
    display: block;
    text-align:left;
	padding-left: 10px;
}
.player_before{
    padding: 10px;	
	height: 50px;
	width: max-content;
	margin: 0 15px 0 15px;
	position: relative;

	text-align: center;
}
h1{
    text-align: center;
    padding: 15px;
}
#middle{
    width: 100%;
    position: fixed;
    top: 40%;
    bottom: 40%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}
#start.active
{
	opacity: 100%;
	width: max-content;
	background-color: var(--start-game);
	border-radius: 10px;
	border: 2px solid var(--start-game-border);
	font-size: 75px;
	margin: 0 auto 0 auto;
	font-weight: 900;
	transition: all .15s ease-in-out;
	padding: 15px;
}
#start.inactive
{
	pointer-events: none;
	opacity: 60%;
	width: max-content;
	background-color: var(--start-game);
	border-radius: 10px;
	border: 2px solid var(--start-game-border);
	font-size: 75px;
	margin: 0 auto 0 auto;
	font-weight: 900;
	transition: all .15s ease-in-out;
	padding: 15px;
}
#start:focus, #start:hover
{
	outline: none;
	-webkit-box-shadow: 0px 0px 5px 1px var(--start-game-shadow);
	-moz-box-shadow: 0px 0px 5px 1px var(--start-game-shadow);
	box-shadow: 0px 0px 5px 1px var(--start-game-shadow);
	transform: scale(1.1,1.1);
}
#information{
	opacity: 80%;
	position: absolute;
	top: 300px;
	left: 300px;
	right: 300px;
}
#start:hover{
	cursor: pointer;
	transform: scale(1.05);
}
.owner{
	color: gold;
	font-weight: 900;
}

.icon-adult{
	position: relative;
	top: 2px;
}
.player_menu{
	padding: 3px;
	width: max-content;
	height: max-content;
	margin: 0 auto 0 auto;
}
.kick{
	border-radius: 5px;
	padding: 3px;
	transition: .1s ease;
	font-size: 0.7em;
	float: left;
	background-color: rgb(167, 11, 11);
}
.crown_btn{
	display: block;
	margin-left: 3px;
	float: left;
}
.kick:hover, .kick:focus, .crown_btn:hover, .crown_btn:focus{
	cursor: pointer;
	transform: scale(1.05);
}
#black_card_cont{
	float:left;
	border-bottom: 1px solid black;
	padding: 1.042vw;
	height: 15.625vw;
	width: 13vw;
	background-color: red;
}
#white_cards_cont{
	float: left;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 15.625vw;
	padding: 1.04vw;
	flex-direction: row;
	flex-wrap: wrap;
	width: calc(100% - 1.04vw);
	background-color: yellow;
}
.white_card_picked{
	height: 10.16vw;
	min-width: 7.55vw;
	opacity: 85%;
	max-width: 7.55vw;	
	word-wrap: break-word;
	font-size: 0.7vw;
	float: left;
	margin: 0.13vw;
	color: black;
	border-radius: 0.42vw;
	background-color: rgb(243, 242, 242);
	padding: 0.67vw;
}
#black_card{
	width: calc(100% - 1.354vw);
	overflow: hidden;
	font-size: 0.83vw;
	word-wrap: break-word;
	margin: 0 auto 0 auto;
	background-color: black;
	border-radius: 0.417vw;
	padding: 0.677vw;
	height: 14.59vw;
}
.players_started{
	width: 15.1vw;
	background-color: green;
	height: 100%;
}
#my_cards{

	display: flex;
	flex-wrap: wrap;	
	padding: 0 0.9vw 0 0.9vw;
	overflow: auto;
	justify-content: center;
	min-height: 10.9375vw;
	max-height: 13.8vw;
	width: calc(100% - 0.9vw);
	background-color: purple;
}
.white_card{
	margin: 1vw 0.2vw 1vw 0.2vw;
	float: left;
	opacity: 85%;
	display: block;
	background-color: white;
	font-size: 0.73vw;
	word-wrap: break-word;
	color: black;
	padding: 0.2vw;
	overflow: hidden;
	border-radius: 0.42vw;
	height: 11.198vw;
	min-width: 7.448vw;
	max-width: 7.448vw;	
}
.white_card:hover, .white_card:focus{
	outline: none;
	cursor: pointer;
	opacity: 100%;
}
input[type="checkbox"]{
	display: none;
}
.player_after{
	background-color: grey;

	border-bottom: 1px solid black;
	display: block;
	min-height: 2.81vw;
	overflow: hidden;
	font-size: 0.9375vw;
	width: calc(100% - 0.52vw);
	padding: 0.26vw;
	position: relative;
}
.player_left{
	float: left;
	width: 50%;
	height: 100%;
}
.player_right{
	float: left;
	width: 50%;
	text-align: center;
}
.points{
	margin-top: 5px;
}
#UI{
	display: flex;
	flex-direction: column;
}
#menu{
	display: flex;
	justify-content: center;
	padding-top: 1.04vw;
	padding-bottom: 1.04vw;
}
#btn{
	pointer-events: none;
	background-color: red;
	width: max-content;
	border-radius: 0.26vw;
	padding: 0.52vw;
	opacity: 50%;
	font-size: 1.5625vw;
	font-weight: 900;
	transition: 0.2s ease;
}
#btn:hover, #btn:focus{
	cursor: pointer;
	transform: scale(1.1);
}
#left{
	width: 15.104vw;
	background-color: red;
	float: left;
	height: 100vh
}
#right{
	width: 84.106vw;
	float: left;
}
.shown{
	background-color: #8FE738;
}
#select_info{
	text-align: center;
	opacity: 80%;
	margin-top: 2vw;
	font-size: 3vw;
}
.selected:hover{
	opacity: 100%;
	cursor: pointer;
}