html
{
	font-family: 'Merriweather', serif;
}
body{
	margin: 0;
}
body#dark
{
	background-color: rgb(038, 036, 044);
	--background-color:rgb(038, 036, 044);
	
	color:  #DCDCDC;
	--background-help: rgb(057, 053, 065 );
	--theme-toggler-background: #1f1f1f;
	--container-border: rgb(042, 036, 054);
	--theme-toggler-border: #262626;
	--webkit-scrollbar-track: rgb(057, 053, 065);
	--submit-button-background: rgb(042, 036, 054);
	--submit-button-background-hover: #ccff99;
	--webit-scrollbar-thumb: grey;
	--input-submit-background: #ccffcc;
	--webkit-scrollbar-thumb-border:  rgb(057, 053, 065);
	--theme-toggler-shadow: rgba(0, 0, 0, 1);
	--theme-togglerinside-background: white;
	--input-border: #660033;
	--container-background: rgb(057, 053, 065 );
	--theme-togglerinside-border: #999999;
}
body#bright
{
	background-color: rgb(205, 201, 213);
	color: rgb(019, 015, 027);
	--color: rgb(019, 015, 027);
	--link-color: black;
	--theme-toggler-background: white;
	--theme-toggler-border: #c7c7c7;
	--theme-toggler-shadow:#c7c7c7;
	--theme-togglerinside-background: black;
	--webkit-scrollbar-track: rgb(168, 165, 174);
	--webit-scrollbar-thumb: grey;
	--webkit-scrollbar-thumb-border:  rgb(168, 165, 174);
	--input-border: #c7c7c7;
	--theme-togglerinside-border: #999999;
}
#top
{
	width: 100%;
	height: 50px;
	position: relative;
}
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	width: 10px;
	background: var(--webit-scrollbar-thumb);
	border: 2px solid var(--webkit-scrollbar-thumb-border);
}
::-webkit-scrollbar-track{
	background-color: var(--webkit-scrollbar-track);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
::-webkit-scrollbar-button{
	display: none;
}
::-webkit-scrollbar-thumb:hover{
	opacity: 90%;
}
#lang
{
	width: 50px;
	margin: 15px 0px 0px 15px;
	float: left;
}
.lang_change{
	display: block;
	margin: 2px 0px 5px 0px;
}
#themetoggler
{
	float: left;
}
#theme
{
	width: 100px;
	float: left;
	margin: 26px 0px 0px 10px;
}
.t_icon
{
	margin: -1px 1px 0px 1px;
	float: left;
}

input[type="checkbox"]{
	
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
}
.check
{
	position: relative; 
	display: block;
	height: 20px;
	border: 1px solid var(--theme-toggler-border);
	-webkit-box-shadow: -1px 1px 8px -2px var(--theme-toggler-shadow);
	-moz-box-shadow: -1px 1px 8px -2px var(--theme-toggler-shadow);
	box-shadow: -1px 1px 8px -2px var(--theme-toggler-shadow);
	width: 50px;
	background-color: var(--theme-toggler-background);
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	transition: all .2s ease;
}
.check:before
{
	position: absolute;
	top: 2px;
	left: 2px;
	background-color: var(--theme-togglerinside-background);
	border: 1px solid var(--theme-togglerinside-border);
	width: 15px;
	height: 15px;
	transition: .2s ease;
	border-radius: 50%;
	content: "";
}
input#topcheck:checked + .check:before
{
	transform: translateX(30px);
}
.lang_change:hover{
	cursor: pointer;
	transform: scale(1.05,1.05);
}
#lang input[type = "submit"]
{
	display: none;
}
#container
{
	margin-left: auto;
	-webkit-box-shadow: 0px 0px 8px -3px rgba(78, 16, 71, 1);
	-moz-box-shadow: 0px 0px 8px -3px rgba(78, 16, 71, 1);
	box-shadow: 0px 0px 8px -3px rgba(78, 16, 71, 1);
	margin-right: auto;
	border-radius: 5px;
	border: 1px solid var(--container-border);
	background-color: var(--container-background);
	position: relative;
	display: block;
	width: 1200px;
	
}
.icon-help-circled
{
	position: relative;
	top: 7px;
}

#register
{
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	text-align: center;
	justify-content: space-evenly;
}
#register_login, #register_password, #register_password-re, #register_email, #equation_result
{
	margin: 6px 0 5px 10px;
	padding: 5px;
	border-radius: 3px;
	border: 2px solid var(--input-border);
	opacity: 70%;
}
#equation_result{
	margin: 6px 6px 5px 10px;
}
#errorl{
	font-size: 15px;
	color: #A52A2A;
	font-weight: 900;
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}
#errore{
	font-size: 15px;
	color: #A52A2A;
	font-weight: 900;
	margin-top: -15px;
	display: block;
	margin-bottom: 5px;
}
#errorl br{
	display: none;
}
#text
{
	
	text-align: center;
}
#right_register
{
	width: 600px;
	float: left;
}
#bottom
{
	width: 100%;
	background-color: var(--container-background);
	text-align: center;
	clear: both;
	border-radius: 5px;	
}
.help{
	position: relative;

}
.help:before
{
	position: absolute;
	background-color: var(--background-help);
	border: 1px solid black;
	transform: scaleX(0) scaleY(0);
	z-index: 1;
	font-size: 13px;
	transition: .1s ease;
	transform-origin: top left;
	content: attr(data-title);
	max-width: 250px;
	min-width: 200px;
	overflow-wrap: break-word;
	top: 7px;
	left: 2px;
	border-radius: 5px;
	padding: 5px;
}
.help:hover::before	{
	transform: scaleX(1) scaleY(1);
	cursor: pointer;
}
.no_inf
{
	margin-right: 53px !important;
}
input:focus
{
	outline: none;
	opacity: 100% !important;
}
input[type = "submit"]:disabled:hover{
	pointer-events: none;
	transform: none;
	background-color:var(--input-submit-background); 
}
input[type="submit"]
{
	font-family: 'Merriweather', serif;
	padding: 10px;
	font-size: 1.5em;
	transition: all .15s ease;
	border-radius: 5px;
	background-color: var(--input-submit-background);
	border: none;
	margin: 10px 0 10px 0;	
}
input[type = "submit"]:hover{
	transform: scale(1.1,1.1);
	background-color: var(--submit-button-background-hover);
	cursor: pointer;
}
table{
	margin-bottom: 25px;
}
#rules{
	width: calc(100% - 20px);
	overflow: auto;
	min-height: 200px;
	max-height: calc(100vh - 530px);
	border-bottom: 1px dotted var(--background-color);
	padding: 10px;
}
h1{
	border-top: 1px dotted var(--background-color);
	padding-top: 25px;		
	display: block;
	text-align: center;
	font-size: 40px;
}
ol{
	font-size: 2em;
}
.rules{
	font-size: 0.8em;
}
#rules_accept_label{
	display: block;
	margin: 50px auto 50px auto;
	width: max-content;
	font-size: 1.5em;
	font-weight: 900;
	transition: .2s ease;
	position: relative;
}
#rules_accept_label:after{
	content: '';
	background-color: white;
	width: 20px;
	border-radius: 40%;
	transition: .2s ease;
	position: absolute;
	right: -27px;
	top: 7px;
	height: 20px;
}
#rules_accept_label:hover{
	cursor: pointer;
	transform: scale(1.05);
}
#rules_accept_label:hover:after{
	transform: scale(1.05);
}
#rules_accept_checkbox{
	float: right;
	margin-left: 10px;
	position: relative;
	transition: all .2s ease;
	border-radius: 40%;
	background-color: white;
	width: 20px;
	height: 20px;
}
#rules_accept:checked + #rules_accept_label:after{
	background-color: green;	
}
@media only screen and (max-width: 1550px) {
	#container{
		width: 1000px;
	}
	#register
	{
	font-size: 25px;
	}
	#errorl{
		font-size: 13px;
	}
	#errore{
		font-size: 13px;

	}
	.no_inf
	{
		margin-right: 44px !important;
	}
	.help:before
	{
		font-size: 11px;
	}
	input[type="submit"]
	{
		padding: 7px;
		font-size: 1.3em;
	}
	h1{
		padding-top: 20px;		
		font-size: 30px;
	}
	ol{
		font-size: 1.7em;
	}
	.rules{
		font-size: 0.75em;
	}
	#rules{
		max-height: calc(100vh - 460px);
	}
	#rules_accept_label{
		margin: 50px auto 50px auto;
		font-size: 1.3em;
	}
	#rules_accept_label:after{
		width: 17px;
		right: -27px;
		top: 5.3px;
		height: 17px;
	}
  }