RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^\bHome\b index.php [NC]
RewriteRule ^\bCreate-Lobby\b create_lobby.php [NC]
RewriteRule ^\bRegister\b register.php [NC]
RewriteRule ^\bMy-Cards\b my_cards.php [NC]
RewriteRule ^Card-Creator=([0-9a-zA-z]+) card_creator.php?id=$1 [NC]

