html
{
	font-family: 'Merriweather', serif;
}
body{
	margin: 0;
}
body#dark
{
	background-color: #191919;
	--top: #262626;
	--link-color: #FFCCFF;
	--text-color: #dadada;
	--game-creator: #003300;
	--game-creator-border: #006600; 
	--game-creator-shadow: rgba(20, 226, 24, 1);
	--login-button-background: #006633;
	--login-button-text: black;
	--login-button-border: #339966;
	--login-button-shadow: rgba(20, 226, 24, 1);
	--theme-toggler-background: #1f1f1f;
	--theme-toggler-border: #262626;
	--theme-toggler-shadow: rgba(0, 0, 0, 1);
	--theme-togglerinside-background: white;
	--theme-togglerinside-border: #999999;
	
}
body#bright
{
	background-color: white;
	--top: #262626;
	--link-color: #FFCCFF;
	--text-color: #dadada;
	--game-creator: #003300;
	--game-creator-border: #006600; 
	--login-button-background: #006633;
	--login-button-text: black;
	--login-button-border: #339966;
	--theme-toggler-background: #1f1f1f;
	--theme-toggler-border: #262626;
	--theme-toggler-shadow: rgba(0, 0, 0, 1);
	--theme-togglerinside-background: white;
	--theme-togglerinside-border: #999999;
}
#top
{
	display: flex;
	position: sticky;
	justify-content: space-between;
	z-index: 1;
	margin-top: 5px;
	background-color: var(--top);
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 2px solid grey;
	margin-bottom: 15px;
}
a:link, a:visited{
	text-decoration: none;
	color: var(--link-color);
}

#middletop
{
	padding: 3px;
	width: max-content;
	height: max-content;
	float: left;
}
#middletop a 
{
	display: block;
	background-color: var(--game-creator) ;
	border-radius: 10px;
	border: 2px solid var(--game-creator-border);
	font-size: 30px;
	margin-top: 10px;
	font-weight: 900;
	transition: transform .15s ease-in-out;
	padding: 15px;
}
#middletop a#active:focus, #middletop a#active:hover
{
	outline: none;
	-webkit-box-shadow: 0px 0px 3px 1px var(--game-creator-shadow);
	-moz-box-shadow: 0px 0px 3px 1px var(--game-creator-shadow);
	box-shadow: 0px 0px 3px 1px var(--game-creator-shadow);
	border: 2px solid green;
	transform: scale(1.1,1.1);
}
#middletop a#inactive:focus{
	outline: none;
	border: 2px solid red;
}
#middletop a#inactive{
	background-color: var(--game-creator) ;
	color: var(--link-color);
	opacity: 60%;
}
#lefttop
{
	float: left;
	position: relative;
	width: 180px;;
	display: flex;
	height: max-content;
	justify-content: space-between;
}
#lang
{
	float: left;
	margin-top: 35px;
	margin-left: 10px;
	background-color: yellow;
}
#themetoggler
{
	float: left;
}
#theme
{
	width: 100px;
	float: left;
	margin-top: 35px;
}
.t_icon
{
	margin: -1px 1px 0px 1px;
	float: left;
}

input[type="checkbox"]{
	
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
}
.check
{
	position: relative; 
	display: block;
	height: 20px;
	border: 1px solid var(--theme-toggler-border);
	-webkit-box-shadow: -1px 1px 8px -2px var(--theme-toggler-shadow);
	-moz-box-shadow: -1px 1px 8px -2px var(--theme-toggler-shadow);
	box-shadow: -1px 1px 8px -2px var(--theme-toggler-shadow);
	width: 50px;
	background-color: var(--theme-toggler-background);
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	transition: all .2s ease;
}
input#topcheck:checked + .check
{
	
}
.check:before
{
	position: absolute;
	top: 2px;
	left: 2px;
	background-color: var(--theme-togglerinside-background);
	border: 1px solid var(--theme-togglerinside-border);
	width: 15px;
	height: 15px;
	transition: .2s ease;
	border-radius: 50%;
	content: "";
}
input#topcheck:checked + .check:before
{
	transform: translateX(30px);
}

#righttop
{
	position: relative;
	float: left;
	margin: 3px 5px 0px 5px;
}

#input_login, #input_password
{
	text-align: center;
	margin-bottom: 10px;
	padding: 2px;
	border-radius: 5px;
	border: 1px solid black;
	-webkit-box-shadow: 0px 1px 6px 0px rgba(3, 9, 35, 1);
	-moz-box-shadow: 0px 1px 6px 0px rgba(3, 9, 35, 1);
	font-size: 15px;
	box-shadow: 0px 1px 6px 0px rgba(3, 9, 35, 1);
	width: 135px;
}
#input_login:focus, #input_password:focus
{
	outline: none;
	border: 1px solid green;
	transform: scale(1.05,1.05);
	
}
#login_button
{
	width: 143px;
	position: relative;
	left: -1px;
	color: var(--text-color);
	font-size: 15px;
	padding: 2px; 
	background-color: var(--login-button-background);
	transition: all .2s ease;
	border-radius: 15px;
	border: 1px solid var(--login-button-border);
	font-family: 'Merriweather', serif;

}
#login_button:hover, #login_button:focus
{
	cursor: pointer;
	opacity: 90%;
	-webkit-box-shadow: 0px 0px 3px 1px var(--login-button-shadow);
	-moz-box-shadow: 0px 0px 3px 1px var(--login-button-shadow);
	box-shadow: 0px 0px 3px 1px var(--login-button-shadow);
	transform: scale(1.05,1.05);
	outline: none;
	
}
#register
{
	float: left;
	color: var(--text-color);
	margin-top: 20px;
	text-align: center;
}
#login
{
	margin-right: 25px;
	float: left;
}
#register a
{
	display: block;
	margin-top: 14px;
	color: #0099ff;
	transition: 0.15s ease;
}
#register a:focus, #register a:hover
{
	outline: none;
	font-size: 1.1em;
}